**/node_modules/
**/.next/
.DS_Store
# Project 23 - Authentication in REACT app/backend/events.json
Project 25 - Tanstack query/backend/data/events.json
Project 6 - Project managment app/
Project 27 - Nextjs - The Foodies App/public/images/
Project 27 - Nextjs - The Foodies App/meals.db